<div class="container-fluid">
  <div class="row bg-info-subtle">
    <div class="col-9">
      <div class="row">
        <div class="col">
          <p>No se ha pulsado ningún botón</p>
        </div>
        <div class="col">
          <div >Secuencia de botones pulsados: [{{nombresBotonesPulsados()}}]</div>
          <div>Suma de valores: {{sumaBotonesPulsados()}}</div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary">Reset</button>
    </div>
  </div>
  <div class="row">
    <!--para hacer input boton-->
<!--    cuando el hijo emita eventoBoton se ejecuta en el componente anadirDatgos, poner siempre $event-->
    <app-botones (eventoBoton)="anadirDatos($event)"
      *ngFor="let boton of botones" [boton]="boton"
      class="col-3"
    ></app-botones>
  </div>
</div>
